@import 'asciidoctor.css';
/* your rules here */

body {
    font-family: Sans-Serif, sans-serif;
    font-size: 10pt;
}

p {
    font-size: 10pt;
    line-height: 1.1;
}

p.tableblock {
    font-size: 10pt;
}
